<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
</head>
<body>
    <h1>
        Relatório do dia <%=datetime%> 
     </h1>
     <h2>Número de Visitas Totais: <%=totalVisits%> </h2>
     <h2>Setor Mais Visitado: <%=mostVisitedSection%> <%=mostVisitedAmount%> visitas </h2>
     <h2>Setor Menos Visitado: <%=lessVisitedSection%> <%=lessVisitedAmount%> visitas </h2>
</body>
</html>